<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">
  <title>Clothes Time</title>
</head>
<body>
  
  <header class="navbar">
    <div class="logo"><img class="logo" src="/imagens/logo.png" alt="Logo Clothes Time"></div>
    <h1>CLOTHES TIME</h1>
  </header>

  

  <!--Conteiner 1-->
  <div class="produtos">

    <% for  (let produto of produtos) {%>

    <div class="produto"><a href="/produto/<%= produto.id%>"><img class="produto-img" src="<%= produto.imagens%>" alt="Camisa Nike Preta"></a>
      <h1 class="text"><%= produto.nome%></h1>
      <p class="descricao"><%= produto.descricao%></p>
      <h2 class="text preco"><%= produto.preco%></h2>
    </div>

     <% } %>

  </div>
  

  



  <footer>
    <h1>Compre sempre aqui!</h1>
  </footer>
</body>
</html>